.container {
  width: 960px;
}

table th {
  background: #cccccc;
  white-space: nowrap;
}

.player .score {
  text-align: right;
}
.player #increment:hover, .player .remove:hover, .player i[id^="increment"]:hover {
  cursor: pointer;
}
